<div class="container-fluid mt-2">
    <div id="nav-interfaz" class="row gap-3">
        <div class="col-1 mt-4 text-center">
            <h1>GESPRO 1.0</h1>
        </div>

        <div class="col-1 d-inline-block text-center ">
            <a href="inicio"><img src="/Imagenes/Inicio.png" class="rounded-circle border border-3 border-white"  alt=""></a>
            <h5>INICIO</h5>
        </div>
        <div class="col-1 d-inline-block text-center">
            <a href="/proyectos"><img src="/Imagenes/Proyectos2.png" class="rounded-circle border border-3 border-white" alt=""></a>
            <h5>PROYECTOS</h5>
        </div>
        <div class="col-1 d-inline-block text-center">
            <a href="/empleados"><img src="/Imagenes/obrero 2.png" class="rounded-circle border border-3 border-white" alt=""></a>
            <h5>EMPLEADOS</h5>
        </div>
        <div class="col-1 d-inline-block text-center">
            <a href="/clientes"><img src="/Imagenes/clientes icono.png" class="rounded-circle border border-3 border-white" alt=""></a>
            <h5>CLIENTES</h5>
        </div>
        <div class="col-1 d-inline-block text-center">
            <a href="/almacen"><img src="/Imagenes/Herramientas.png" class="rounded-circle border border-3 border-white" alt=""></a>
            <h5>ALMACEN</h5>
        </div>
        <div class="col-1 d-inline-block text-center">
            <a href="/proveedores"><img src="/Imagenes/proveedores.png" class="rounded-circle border border-3 border-white" alt=""></a>
            <h5>PROVEEDORES</h5>
        </div> 
        <div class="col-1 d-inline-block text-center" >
            <a href="/reportes"><img src="/Imagenes/Reportes.png" class="rounded-circle border border-3 border-white" alt=""></a>
            <h5>REPORTES</h5>
        </div>
        <div class="col-1 d-inline-block text-center">
            <a href="/users"><img src="/Imagenes/users.png" class="rounded-circle border border-3 border-white" alt=""></a>
            <h5>+USUARIOS</h5>
        </div>
        <div class="col-1 p-3">
            <a class="p-4" href="logout" id="btnSalir"><img id="imgsalir" src="/Imagenes/salir.png" class="rounded-circle border border-3 border-danger"  alt=""></a>
        </div>

    </div>
</div>